font-family: 'Cormorant Garamond', serif;

/* basic reset for now */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* my styles */

body{
	font-family: Cormorant Garamond;
	/* Background Pattern */
	background-color: #FFFBE7;
	background-image: radial-gradient(closest-side, transparent 99%, rgba(0,0,0,.02) 99%),
	radial-gradient(closest-side, transparent 99%, rgba(0,0,0,.02) 99%);
	background-size:40px 40px;
	background-position:0 0, 20px 20px;
	min-width: 360px;
}

ul {padding:0;}

input, select, textarea {
	font-size: 16px;
}

header{
	margin: 20px 0px;
	text-align: center;
}

main{
	display: flex;
	flex-wrap: wrap;
}

section{
	margin: 5px;
	padding: 10px;
	background-color: #FDF9E7;
	border: 1px solid #E5DFBF;
	border-radius: 10px;
	flex-basis: 100%;
}
h1 {
	font-size: 1.8em;
	line-height: .75em;
}
section h2{
	display: flex;
	margin: 0;
	justify-content: space-between;
}

section li{
	display: flex;
	min-height: 2em;
	padding:5px;
	line-height: 1.2em;
	border-top: 1px solid #E5DFBF;
	padding: 10px 0;
}
.button-container{
	min-width: 100%;
	text-align: center;
	border: none;
	background-color: transparent;
	margin: 0 0 10px 0;
	padding: 0;
}
.btn{
	background-color: #1B3363;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    border-radius: 5px;
 		align-self: center;
 		min-width:  70px;
}

.btn:hover{
	background-color: #091D45;
}

.disabled .btn, .btn.disabled{
	border: none;
	background-color: transparent;
	color: #000;
}
.disabled .btn:hover, .btn.disabled:hover{
	background-color: transparent;
}

.vis-toggle{
	margin: 0 5px;
	font-size: .7em;
	align-self: center;
}
.title{
	font-weight: bold;
}
.hidden{
	display: none;
}
.critical-info-label{
	font-size: 1.5em;
}
.critical-info{
	font-size: 2em;
	font-weight: bold;
}
.hit-point-form{
	line-height: 2.25em;
	margin: 10px 0;
}
.hit-point-form input[type = 'text']{
	width: 245px;
	padding: 2px 5px 2px 2px;
}
.hit-point-form input[type = 'number']{
	width: 160px;
	padding: 2px 5px 2px 2px;
}
.full-hit-points {
	margin-bottom: 20px;
}
/* Media Queries */
/* desktop/laptop/tablet

 */
@media only screen and (min-width: 768px){
	section{
		flex-basis: 45%;
	}

	h1{
		line-height: .25em;
	}

	.button-container{
		text-align: left;
	}

}